body {
  color: black;
}

a {
  color: #1861FF;
}

.header-image {
  position: relative;
}

.bgd-animation {
  position: absolute;
}

.hero-body {
  background: white;
}

.is-outlined {
  background-color:transparent;
  color:#fff;
}
.hero-cta {
  padding: 30px 0;
}
.panel-block .section p {
  font-size: 17px;
  line-height: 1.4;
  color:#95A5A6;
}

.icon-block {
  font-size:5em;
}

.logo img {
  width:120px;
}

.nav-title {
  font-size: 32px;
  color: white;
}

.landing-input {
  padding-top: 100px;
}

.main-txt {
  margin: 10px;
}

.cnt-section {
  margin-bottom: 100px;
  padding: 5%;
}

.section {
  background-color: white;
}

.hero p {
  color: #276CDA;
}