body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  color: black;
}

.home-background {
  background-image: linear-gradient(
    rgba(0, 150, 254, 0.55),
    rgba(0, 100, 254, 0.30)
  ),
  linear-gradient(
    rgba(10, 0, 0, 0.2),
    rgba(0, 10, 50, 0.5)
  );
}


.navbar-item a {
  color: black;
}
